<div class="main">
  <div class="loginsignup">
      <div class="imagerect">
        <img src="../../assets/MentalHealth-1.gif" />
          
      </div>
      <div class="card">
      <div class="authcard">
          <div class="authtitle">
              Login / SignUP
          </div>

          <div class="inputfield">
            <div class = "inputlabel">Phone Number/ Email ID</div>
            <input class = "ip" type="text"  placeholder="  Enter Mobile No./ Email ID"/>
          </div>
          <div class="inputfield">
            <p> Password <br>
            <input class = "ip" type="password"  placeholder="  Enter Your password"/></p>
          </div> 
          <div class="signup">
            <p> Don’t have an account?  
            <button type="button">Sign UP!</button>
          </div> 
          <br>
          <div class="login">
              <button type="button">Login</button>
          </div>  
      </div>
  </div>
</div>
