*{
    //     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    // }
    
    // .main{
    //     // min-height: calc(94vh - 39px);
    //     // background-color: aqua;
    //     display: flex;
    //     flex-direction: row;
    //     justify-content: center;
    //     min-width: 100%;
    //     align-items: center;
    //     height: 100vh;
    //     background-color: white;
    //     background: linear-gradient(to bottom, #00c6df, #ffffff 10%);
        
    // }
    
    // .titlewebsite{
    //     width: 30vw;
    //     height: 50%;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: space-evenly;
    //     font-family: country;
        
    //     background-size: 100% 100%;
    // }
    
    // .titleweb{
    //     font-family: country;
    //     font-size: 500%;
    //     width: 30vw;
    //     height: 100%;
    //     // background-image: url("");
    //     background-size: 100% 100%;
        
    // }
    
    // .tagline{
    //         font-family: country;
    //         font-size: 200%;
    // }
    // .authcard{
    //     height: 80vh;
    //     border-radius: 10px;
    //     max-width: 50vw;
    //     // background-color: rgb(0, 255, 0);
    //     display: flex;
    //     border-radius: 2%;
    //     flex-direction: column;
    //     // background-image: url("");
    //     background-size: 100% 100%;
    //     overflow: hidden;
    //     position: relative;
    // }
    
    // .deets{
    //     position: absolute;
    //     width: 10vw;
    //     height: 100%;
    //     //background-color: aqua;
    //     top: 0;
    //     display: flex;
    //     flex-direction: column;
        
    // }
    
    // .rightregdeetscont{
    //     transform: translateX(0%);
    //     transition: transform 1.2s 0.2s ease-in-out;
    // }
    
    // .leftregdeetscont{
    //     transform: translateX(-100%);
    //     transition: transform 1.2s ease-in-out;
    // }
    
    // .rightlogindeetscont{
    //     transform: translateX(0%);
    //     transition: transform 1.2s 0.3s ease-in-out;
    // }
    
    // .leftlogindeetscont{
    //     transform: translateX(100%);
    //     transition: transform 1.2s ease-in-out;
    // }
    // .switchbut{
    //     align-self: center;
    //     width: fit-content;
    //     padding: 2%;
    //     position: relative;
    //     font-size: 150%;
    //     cursor: pointer;
    //     color: black;
    // }
    
    // .rightdeets::after{
    //     content: "";
    //     border: black solid thin;
    //     border-radius: 10px;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: 0;
    //     left: 0;
    //     transition: top 1s 1.1s ease-in-out;
    // }
    
    // .leftdeets::after{
    //     content: "";
    //     border: black solid thin;
    //     border-radius: 10px;
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     top: -50%;
    //     left: 0;
    //     transition: top 0.5s 1s ease-in-out;
    // }
    
    
    // .imageslide{
    //     width: 90vw;
    //     height: 80vh;
    //     display: flex;
    // }
    
    // .imageslideopaque{
    //     width: 40vw;
    //     background-color: rgba(245, 245, 245);
    //     background-color: white;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     align-items: center;
    //     overflow: hidden;
    //     // background: linear-gradient(90deg, #c7e4ff, #bab6f0 100%);
    // }
    
    // .imageslidetransparent{
    //     width: 10vw;
    //     background-color: rgba(0, 0, 0, 0);
    //     cursor: pointer;
    // }
    
    // .right{
    //     transition: transform 1.5s ease-in-out;
    //     transform: translateX(0);
    // }
    
    // .left{
    //     transform: translateX(-40vw);
    //     transition: transform 1.5s ease-in-out;
    // }
    
    // .logincard{
    //     width: 30vw;
    //     height: 60%;
    //     // background-color: aquamarine;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }
    
    // .regcard{
    //     // background-color: aqua;
    //     width: 40vw;
    //     height: 80%;
    //     // background-color: aquamarine;
    //     display: flex;
    //     flex-direction: column;
    //     align-items: center;
    //     justify-content: center;
    // }
    
    // .logintitle{
    //     font-size: 200%;
    //     color: black;
    //     flex-basis: 10%;
    // }
    
    // .input{
    //     display: flex;
    //     flex-direction: column;
    //     padding: 20px;
    //     flex-basis: 70%;
    //     width: 100%;
    //     justify-content: space-evenly;
    //     align-items: center;
    
    // }
    
    // .regdiv{
    //     width: 100%;
    //     display: flex;
    //     flex-direction: column;
    //     flex-wrap: wrap;
    //     height: 100%;
    //     justify-content: space-evenly;
    //     align-items: center;
    //     // background-color: bisque;
    // }
    
    
    // .error{
    //     flex-basis: 10%;
    //     width: 100%;
    //     //background-color: aqua;
    //     border: thin red solid;
    //     color: red;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     text-align: center;
    // }
    
    // .ip{
    //     border: none;
    //     // background-color: rgb(0, 0, 0);
    //     border-bottom: solid black thin;
    //     padding: 2%;
    //     font-size: 120%;
    // }
    
    // .ip:focus{
    //     // border-color: greenyellow;
    //     border-bottom: solid var(--col4);
    //     outline: none;
    // }
    
    // .iperror{
    //     border-bottom: red thin solid; 
    //     //flex-basis: 50%; 
    //     height: 100%; 
    //     //box-shadow: 0 4px 8px 0 rgba(255, 0, 0, 0.2), 0 6px 20px 0 rgba(255, 0, 0, 0.2);
    // }
    
    // .errormsg{
    //     //height: 15%; 
    //     display: flex; 
    //     justify-content: space-between;
    //     position: relative;
    // }
    
    
    // .message {
    //     background:  #ffb3b3;
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     text-align: center;
    //     font-weight: 900;
    //     width: fit-content;
    //     height: fit-content;
    //     color: #000;
    //     font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    //     position: absolute;
    //     transition: 2s ease-in;
    //     animation: 0.5s cloud ease-in forwards;
    //     padding: 2%;
    //     opacity: 0;
    //     // left: -100%;
    //     right: 120%;
    //     z-index: 10000;
    //   }
      
    //   .sb1:before {
    //     content: "";
    //     width: 0px;
    //     height: 0px;
    //     position: absolute;
    //     border-left: 10px solid  #ffb3b3;
    //     border-right: 10px solid transparent;
    //     border-top: 10px solid  #ffb3b3;
    //     border-bottom: 10px solid transparent;
    //     right: -19px;
    //     top: 6px;
    //     animation: 0.5s cloud ease-in forwards;
    //     opacity: 0;
    //   }
      
    // @keyframes cloud{
    //     from{
    //         opacity: 0;
    //     }
    //     to{
    //         opacity: 1;
    //     }
    // }
    
    // .submit{
    //     flex-basis: 10%;
    //     width: 50%;
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    // }
    
    // .cardleft{
    //     transition: transform 1.5s ease-in-out;
    //     transform: translateX(0);
    // }
    
    // .cardright{
    //     transition: transform 1.5s ease-in-out;
    //     transform: translateX(200%);
    // }
    
    
    
    // .regcardleft{
    //     transition: transform 1.5s ease-in-out;
    //     transform: translateX(0%);
    // }
    
    // .regcardright{
    //     transition: transform 1.5s ease-in-out;
    //     transform: translateX(-200%);
    // }
    
    // input:-webkit-autofill,
    // input:-webkit-autofill:hover, 
    // input:-webkit-autofill:focus, 
    // input:-webkit-autofill:active
    // {
    //   box-shadow:  0 0 0 30px white inset !important;;
    //  -webkit-box-shadow: 0 0 0 30px white inset !important;
    // }
    
    * {
        font-family: Georgia, "Times New Roman", Times, serif;
    }
    @import url('https://fonts.googleapis.com/css?family=Roboto');
    
    
    
    
    .main{
        min-width: 100vw;
        min-height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        background-color: #c8e8ea;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .card{
        width: 30vw;
        height: 66vh;
        background: rgba(255, 255, 255, 0);
        border-radius: 20px;
        border-color: #005059;
        border-width: medium;
        overflow: hidden;
    }
    
    .loginsignup{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .imagerect{
        background-color: #005059;
        height: 70vh;
        width: 40vw;
        border-radius: 20px;
        background-image:url("../../assets/media/gif/login.gif");
        background-size: 100% 100%;
    }
    
    .authtitle{
        height: 10vh;
        width: 28vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 140%;
        font-weight: bolder;
    }
    
    .inputfield {
        padding: 2% 0;
        font-weight: normal;
    }
    
    .inputfield input {
        width: 20vw;
        height: 5vh;
        text-align: left;
        display: flex;
        flex-direction: column;
        color: rgb(0, 0, 0);
        font-size: 70%;
        border-radius: 8px;
        background-color: rgba(255, 255, 255, 0.897);
        border-color: #005059;
        border-width: 1px;
    }
    
    .signupsection{
        display: flex;
        width: 100%;
        justify-content: center;
    }
    
    // .signup button
    // {
    //     font-size: 88%;
    //     text-align: center;
    //     justify-content: center;
    //     border-radius: 10px;
    //     width: fit-content;
    //     padding: 1% 2%;
    //     background-color: rgba(255, 255, 255, 0.822);
    //     margin-left: 2%;
    //     cursor: pointer;
    //     box-shadow: 2px 2px 2px black;
    // }
    
    .signup {
        // margin-left: 6%;
        padding: 2%;
        text-align: center;
        cursor: pointer;
    }
    
    // .signup button:hover{
    //     background-color: rgba(255, 255, 255);
    //     box-shadow: none;
    // }
    
    .login
    {
        font-size: 90%;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        font-weight: bold;
        cursor: pointer;
    }
    
    // .login button{
    //     font-size: 88%;
    //     text-align: center;
    //     justify-content: center;
    //     border-radius: 8px;
    //     width: fit-content;
    //     padding: 1% 2%;
    //     background-color: rgba(255, 255, 255, 0.822);
    //     margin-left: 2%;
    //     cursor: pointer;
    //     box-shadow: 2px 2px 2px black;
    // }
    
    .login p{
        padding: 2%;
    }
    
    // .login button:hover{
    //     background-color: rgba(255, 255, 255);
    //     box-shadow: none;
    // }
    
    .slider{
        background-color: cadetblue;
        width: 60vw;
        display: flex;
        transition: transform 1.5s ease-in-out;
    }
    
    .sliderloginreg{
        background-color: cadetblue;
        width: 30vw;  
        display: flex;
        flex-direction: row;
        justify-content: center;
        // border: solid black;
        // align-items: center;
        // margin-left: -3%;
        // justify-content: center;  
    }
    
    .sliderslide{
        transform: translateX(-50%);
    }
    
    .signupform{
        // background-color: pink;
        max-height: 60vh;
        // background-color: pink;
        width: 30vw;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        // justify-content: center;
        align-items: center;
    }
    
    .l{
        overflow-y: hidden;
    }
    
    .alert{
        width: 20vw;
        font-size: 80%;
        padding: 0;
    }
    
    .error{
        color: rgb(121, 35, 35);
    }